@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700&display=swap');

body,
h1, 
ul,
li,
img,
p{
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
}

p {
  color: #84829a;
  text-align: center;
  margin: .5rem 2rem;
  font-weight: 500;
  line-height: 1em;
}

h1 {
  color:white;
  text-align: center;
  line-height: 1.2;
  font-size: 1.4rem;
}

span {
  color: #a560d1;
}

ul {  
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}

li {
  list-style: none;
  margin: 1.5rem 2rem;
}

li > p {
  text-transform: uppercase;
  margin: 0px;
}


.title {
  margin: 1rem;
}

.container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  background:#1C1938;
  border-radius: 10px;
  margin: 10% 5%;
}

.left-column {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 540px;
}

.right-column, .right-column-img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.right-column {
  flex-basis: 0;
  flex-grow: 1;
  background: rgba(106, 22, 114, 0.486);
}

.right-column-img {
  display: block;
  max-width: 100%;
  object-fit: fill;
  opacity: 50%;
 }

.attribution {
  font-size: 11px;
  text-align: center;
  color:white;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}


@media only screen and (min-width: 768px) {
  body {
    height: 100vh;
  }

  ul {
    flex-direction: row;
  }

  p {
    text-align: left;
  }

  h1 {
    font-size: 1.2rem;
  }
  
  .title {
    text-align: start;
    font-size: 1.8rem;
    padding-left: .5em;
  }
  
  .left-column {
      height: 100%;
  }
  
  .container {
    flex-flow: row;
  }

  .right-column, .right-column-img {
    border-top-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .right-column-img {
    min-width: 315px;
  }
}

